
@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

* {
  font-family: 'eurostile', sans-serif;


}

@font-face {
  font-family: 'eurostile';
  src: url('/src/assets/fonts/AvenirNextLTPro-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-primary: #BA863D;
  --color-secondary: #343434;
  --color-accent: #5A5D5D;
  --color-background: #F7F7F8;
  --color-light: #FFFFFF;
  --color-dark: #000000;
  --color-border: #D7DADE;
}

